.marker {
	color:darkgrey;
	background: white;
	font-size:1.5em;
	font-weight: bold;
	border:1px solid grey;
	border-radius: 5px;
	width:50px;
	text-align: center;
}

.selected {
	background: yellow;
	border:1px solid red;
}